doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title #{ title }
		link(rel="stylesheet", href="/css/main.css")

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

		script(src="/js/main.js" defer)
		block styles

	body
		.backdrop
		header.main-header
			<button id="side-menu-toggle"> 
				<svg width="50px" height="50px" viewBox="0 0 72 72" id="emoji">
					<g id="color"/>
					<g id="hair"/>
					<g id="skin"/>
					<g id="skin-shadow"/>
					<g id="line">
					<line x1="16" x2="56" y1="26" y2="26" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
					<line x1="16" x2="56" y1="36" y2="36" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
					<line x1="16" x2="56" y1="46" y2="46" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
					</g>
				</svg>
			</button>
			nav.main-header__nav
				div.main-header__item-list

					div.main-header__item
						a(href="/", class=(path==='/' ? 'active' : '' )) Shop

					-var isAuthanticated = isAuthanticated
					if isAuthanticated
						div.main-header__item
							a(href="/cart", class=(path==='/cart' ? 'active' : '' )) Cart

						div.main-header__item
							a(href="/orders", class=(path==='/orders' ? 'active' : '' )) Orders


				div.main-header__item-list
					if isAuthanticated
						div.main-header__item
							a(href="/admin/add-product", class=(path==='/admin/add-product' ? 'active' : '' )) Add Product

						div.main-header__item
							a(href="/admin/products", class=(path==='/admin/products' ? 'active' : '' )) Admin Product
						div.main-header__item
							form(action="/logout", method="post")
								button(type="submit") Logout
					else
						div.main-header__item
							a(href="/login", class=(path==='/login' ? 'active' : '' )) Login
						div.main-header__item
							a(href="/signup", class=(path==='/sighup' ? 'active' : '' )) Sign Up




		nav.mobile-nav
			div.mobile-nav__item-list
				div.mobile-nav__item
					a(href="/", class=(path==='/' ? 'active' : '' )) Shop

				div.mobile-nav__item
					a(href="/products", class=(path==='/products' ? 'active' : '' )) Products

				if isAuthanticated
						div.main-header__item
							a(href="/cart", class=(path==='/cart' ? 'active' : '' )) Cart

						div.main-header__item
							a(href="/orders", class=(path==='/orders' ? 'active' : '' )) Orders


				div.main-header__item-list
					if isAuthanticated
						div.main-header__item
							a(href="/admin/add-product", class=(path==='/admin/add-product' ? 'active' : '' )) Add Product

						div.main-header__item
							a(href="/admin/products", class=(path==='/admin/products' ? 'active' : '' )) Admin Product
						div.main-header__item
							form(action="/logout", method="post")
								- csrfToken = csrfToken
								input(type="hidden", name="_csrf", value=csrfToken)
								button(type="submit") Logout
					else
						div.main-header__item
							a(href="/login", class=(path==='/login' ? 'active' : '' )) Login
						div.main-header__item
							a(href="/signup", class=(path==='/sighup' ? 'active' : '' )) Sign Up

		block content

