extends layouts/main-layout.pug

block content
	main.centered
		h1 Sorry, Page Not Found
		p Sorry, The page you aree looking for is not found. Please Check you path
		hr
		p If Problem Continues, please Contact the admin.
