extends ../layouts/main-layout.pug
include ../mixin/add-to-cart.pug


block content
	main.centered(style="padding: 0 5em margin-top: 5%")
		h1 #{ product.title }
		hr
		div.image
			- let imageUrl = product.imageUrl
			img(src=imageUrl, alt="Product Title")
		h2 #{ product.price }
		p(style="padding: 0 5em") #{ product.description }

		if isAuthanticated
			+addToCart(product._id)

